.flex_nav{
	display: flex;
	margin: 0;
	padding: .5em;
	list-style-type: none;
	border-radius: .2em;
	box-sizing: border-box;
}

.flex_nav>li{
	margin-top: 0;
}

.flex_nav>li>a{
	display: block;
	padding: .5em 1em;
	background-color: #cc6b5a;
	color: white;
}

.nav_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0.5em;
	list-style-type: none;
	text-align: center;
	background-color: black;
	color: white;
}

body{
	background-color: rgb(0, 0, 0);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	color: rgb(247,146, 86);
}

h1{
	text-align: center;
}

h2{
	color: rgb(250, 250, 250);
}

h3{
	color: rgb(0, 178, 202);
}

footer{
	clear: both;
	text-align: center;
}

.container{
	align-items: center;
	width: 50%;
	height: auto;
	padding: 10px 10px 10px 10px;
	border: 3px solid rgb(125, 207, 182);
	margin: 15px 15px 15px 25%;
	border-radius: 25px;
	color: rgb( 0, 83, 119);
	clear:both;
	text-align: center;
	font-size: 15px
}

.container_2{
	width: 400px;
	height: auto;
	padding: 0px 10% 0px 15%;
	border: 3px solid rgb(125, 207, 182);
	margin: 15px 15px 15px 25%;
	border-radius: 25px;
	color: rgb( 0, 83, 119);
	clear:both;
	text-align: left;
	font-size: 15px;
	background-image: url("solar_system.jpg"); 
	background-repeat: no-repeat;

}

.container_3{
	align-items: center;
	width: 85%;
	height: auto;
	padding: 10px 10px 10px 5px;
	border: 3px solid rgb(125, 207, 182);
	margin: 15px 15px 15px 0px;
	border-radius: 25px;
	box-shadow: 5px 5px rgb(250,250,250);
	color: rgb( 250, 250, 250);
	clear:both;
	text-align: left;
	font-size: 15px;
	background-color: rgba(247,146, 86,.8);
	

}
.container_4{
	align-items: center;
	width: 85%;
	height: auto;
	padding: 10px 10px 10px 5px;
	border: 3px solid rgb(125, 207, 182);
	margin: 15px 15px 15px 0px;
	border-radius: 25px;
	background-image: linear-gradient(red,purple);
	color: rgb( 250, 250, 250);
	clear:both;
	text-align: left;
	font-size: 15px;
	background-color: rgba(247,146, 86,.8);
	

}


header a:link{color: red;}
header a:visited {color: green;}
header a:hover {color: yellow;}
header a:active {color: orange;}

body a:link{color: red;}
body a:visited {color: white;}
body a:hover {color: green;}
body a:active {color: orange;}

.picture{
	float: right;
}

img{
	width: 75%;
	height: 75%;
}